.parent {margin-left:auto; margin-right:auto; margin-top:5px; 
width:98%; height:530px; display:block;
border-style: solid; border-width: 1px; border-color: #000000;position:relative;}

#canvas-align {position:relative;width:98%;height:530px;margin:auto;}

#hud {position:absolute;top:0px;width:98%;height:530px;margin:auto;z-index:3;display:none;}

.game {margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:5px; width:98%; height:60px; display:block;
border-style:solid; border-width:1px; border-color: #000000;
position:fixed;bottom:0px;left:1%;background-color: #000000;}


p.ce,div.ce {text-align: center;}
div.ng-scope{ position: absolute;left:0px;top:0px;z-index:3;}
div.ng-binding {font-weight: bold;}

div.ng-menu {position: absolute;left:0px;top:0px;z-index:5;}

/*
.describe {margin-left:auto; margin-right:auto; margin-top:5px; width:98%; height:105px; display:block;
border-style: solid; border-width: 1px; border-color: #000000;position:relative;}
*/
.customcanvas {position: absolute;left:0px;top:0px;z-index:1;}

#hud.visible {display:block;}

            #weapon, #ammo, #score {
                position: absolute;
                border: 3px solid #FFF;
                border-radius: 5px;
                color: #FFF;
                font-family: arial;
            }
            #weapon {
                bottom: 40px;
                right: 10px;
                background: #AA3333;
                font-size: 10pt;
                font-weight: bold;
                padding: 5px;
            }
            #ammo {
                bottom: 10px;
                right: 10px;
                background: #3333AA;
                font-size: 10pt;
                font-weight: bold;
                padding: 5px;
            }
            #stats {
                float: right;
            }
            #message {
                width:380px; height:50px; float: left;                
                background: #ffffff;
                font-size: 10pt;
                font-weight: bold;
                padding: 5px;
            }
            #minimap {
                width:50px; height:50px; float: left;                
                background: #000000;
                font-size: 10pt;
                font-weight: bold;
                padding: 5px;
            }
            #sound {
                width:300px; height:50px; float: left;                
                background: #000000;
                font-size: 10pt;
                font-weight: bold;
                padding: 5px;
            }